{% post in site.posts limit: 1 %}
    <article class="post featured">
        <header class="major">
            <span class="date">{{ post.date }}</span>
            <h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
            <p>{{ post.content | truncatewords: 50 }}</p>
        </header>
        <a href="{{ post.url }}" class="image main"><img src="{{ post.image }}" alt="{{ post.title }}"></a>
        <ul class="actions">
            <li><a href="{{ post.url }}" class="button big">Leia Mais</a></li>
        </ul>
    </article>
{% endfor %}